PVE_FIRST_NODE_NAME=saruman
PVE_NODES="192.168.100.187, 192.168.100.188, 192.168.100.189"
PVE_HOSTNAMES="saruman, sauron, smeagol"
PVE_API_URL=https://192.168.100.187:8006/api2/json
PVE_API_TOKEN_ID=terraform@pve!terraform
PVE_API_TOKEN_SECRET=[secret-here]
SDN_ZONE_NAME=cybercon
SDN_VNET_NAME=cybernet
SDN_SUBNET_CIDR=10.75.0.0/24
SDN_GATEWAY=10.75.0.1
MGMT_BRIDGE=vmbr0
MGMT_SUBNET_CIDR=192.168.100.0/24
MGMT_GATEWAY=192.168.100.1
NOMAD_TEMPLATE_ID=9000
NOMAD_IP_START=192.168.100.87
INTERNAL_DOMAIN=internal
VAULT_TOKEN=hvs.[vault-token-here]
TF_VAR_AUTHENTIK_BOOTSTRAP_EMAIL=email@example.com
TF_VAR_AUTHENTIK_BOOTSTRAP_PASSWORD=very_secure_password
